table, td {
    border: 1px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 25px;
    height: 25px
}

.draggable {
    display: inline-flex;
}

.ship-container {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.block {
    width: 25px;
    height: 25px;
    border: 0.1px solid white;
    border-collapse: collapse;
}

.vertical {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    gap: 5rem;
}


/* td:hover{
    border: dashed 3px red;

} */

:-moz-drag-over {
    border: dashed 3px red;
}
.ship  {
    background-color: rgb(107, 107, 98);
}
.player-2 .ship {
    background-color: black;
}

.player-1 .hit,  .player-2 .hit{
    background-color: rgb(47, 255, 113);
}

.miss {
    background-color: rgb(242, 13, 13);
}

h1 {
    text-align: center;
}

body {
    color: white;
    background-color: black;
}

/* .drag-over {
    border: dashed 3px red;
} */