table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 25px;
    height: 25px
}

#container {
    display: flex;
    gap: 5rem;
}

.player-1 .ship {
    background-color: rgb(107, 107, 98);
}

.player-1 .hit,  .player-2 .hit{
    background-color: rgb(47, 255, 113);
}

.miss {
    background-color: rgb(242, 13, 13);
}